body {
    background-color: rgb(107, 30, 30);
    color: rgb(197, 123, 123);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 5px;
}

#returnButton {
    font-size: 20px;
    background-color: black;
    color: white;
}
ul {
    text-align: center;
    list-style-position: inside;
}
h1{
    border-bottom: 1px;
}
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 2 / 2 / 3; }